
.navbar
{
	overflow:hidden;
	margin: 0px;
	height:60px;
	width:100%;
	border-bottom: solid 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	
	/*background: -webkit-gradient(linear, left top,left bottom, from(#606060 ), to(#000000 ));*/
}







#logo {
  float: left;
  margin-left: 10px;
  font-size: 50px;
  letter-spacing: 0px;
  font-weight: bold;
  line-height: 1;
  margin-top: 5px;
  color:rgb(0,124,223);

}

#logo:hover {
}


.nav-button {
    float:right;
    margin-top: 25px;
    margin-right: 20px;
    height: 30px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: "HelveticaNeue", "Helvetica Neue light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: black;
    text-decoration: none !important;
}

.nav-button:hover {
    background: #F0F0F0;
    cursor:pointer;
}

p.navb
{
    margin-top:0px;
}
