body {
	margin: 0px;
	background-color: white;
	background-position:center top;
	background-repeat:no-repeat;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    width:100%;
   
}


.body-container
{
    background-image: -webkit-gradient(radial, center center, 0, center center, 447, color-stop(0, #FFFFFF), color-stop(1, #0099E0));

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #0099E0 100%);


background-position: center top;
background-size: 100% auto;
background-repeat:no-repeat;
background-color:black;
overflow-x:hidden;
overflow-y:hidden;
margin-bottom:auto;
margin-top:auto;
width: 100%;
position: absolute;
top:60px;
bottom:0;


}


.body-scroll
{
    text-align: center;
    overflow-y:scroll;
    width:100%;
    position: absolute;
    top:0;
    bottom:0;
    padding-bottom:40px;
    padding-top:80px;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}



.container
{
text-align: center;
}




input
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  
}

p
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1
{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

