

.menu-container
{
	overflow:hidden;
	margin-bottom:30px;

    width:1020px;
    display:block;
    margin-left:auto;
    margin-right:auto;

}



/* Profile List */


.subcat{
	margin-top: 0px;
	margin-bottom:0px;
	height:155px;
	width:250px;
    overflow-y:scroll; 
    overflow-x:hidden;
}

.title
{
    text-align:left;
	height: 40px;
	line-height:40px;
	margin:0px;
	margin-left:10px;
	width: 200px;
	font-family: "HelveticaNeue-light", "Helvetica Neue light", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size:20px;
	font-weight:bold;
}


ul{
    list-style:none;
}

#menu li {
  float: left;
  display: block;
  position: relative;
  margin-right:auto;
  margin-left:auto;
  margin-top:0px;
  width:100%;
}


#menu li a {
  display: inline-block;
  font-family: "HelveticaNeue", "Helvetica Neue light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  line-height:40px;
  height: 40px;
  text-decoration: none;
  color: #463E3F;
  font-size:18px;
  float:left;
  text-align:left;
  margin-left:10px;

}


#menu li.menu_cat {
    
    background:white;
    cursor:pointer;
    width:250px;
    margin-right:5px;
}


#menu li.menu_cat:hover {
    
    background: rgb(245, 245, 250);
    cursor:pointer;
}


#menu ul {

  margin: 0 0 0 0;
  list-style: none;

}

#menu ul li {
    width:250px;
  float: left;
  padding:0px;
  border:none;
  text-align:left;
  font-size:17px;
  padding-left:10px;

  }



li
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
}


li.a
{ 
	color: white;
    background:#0099E0;
	cursor:pointer;
}


li.b
{
	background-color:#FFFFFF ;
	cursor:pointer;
}

li.b:hover
{ 
	background-color: rgb(245, 245, 250);
	cursor:pointer;
}




p.menu_caret
{
    display:inline-block;
    height:40px;
    line-height:40px;
    float:right;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:10px;
    
}

p.label
{
color:#FFFFFF;
text-align:right;
}




