


.base-container-registration
{
width: 700px;
margin-left:auto;
margin-right:auto;
background-color: white;
padding-top: 10px;
border-radius:3px;
background: rgba(255, 255, 255, 0.95);
overflow-y:center;
line-height:100%;    
margin-top:0px;
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

}



.form-container
{
    margin-top:0px;
    overflow:hidden;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
}

.submit_button_div
{
    margin-left:auto;
    margin-right: auto;
    width: 100%;
}

.title
{
    color: #808080;
    font-weight:normal;
    font-size:30px;
    margin-bottom:30px;
}

.sub_title
{
    font-size:22px;
    font-weight:normal;
}

.text
{
    font-size:18px;
    margin:20px;
    line-height:120%;
}



table
{
    border: none;
    display:inline-block;
    margin-top:10px;
    margin-bottom:20px;
    padding:0px;
    border-spacing:0;
    border-collapse: collapse;
    border-spacing:0px;
}

th, td, tr {
    padding: 0;
    border:none;
}


p.label
{
    font-size:18px;
    text-align:left;
}


input[type="text"]
{
    display: inline-block;
    font-size:20px;
    line-height: 25px;
    height:40px;
    font-weight:normal;

    
}

input.payment_field
{
    color:#B6B6B4;
}

input#cardnumber
{
    width:300px;
}

input#cvc
{
    margin-right:86px;
}

input#promoCode
{
    width:300px;
}


#submitButton
{
    height:50px;
    width:252px;
    border-radius:3px;
    margin-right:auto;
    margin-left:auto;
    margin-top:20px;
    margin-bottom:20px;
	padding:	10px 20px !important;
	font-size:	20px !important;
	color: white;
	border:none;
    background: rgb(28, 184, 65);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


#submitButton:hover
{
    background:  rgb(13, 170, 50);
    cursor:pointer;
}