


.base-container-registration
{
width: 700px;
margin-left:auto;
margin-right:auto;
background-color: white;
padding-top: 10px;
border-radius:3px;
background: rgba(255, 255, 255, 0.95);
overflow-y:center;
line-height:100%;    
margin-top:0px;
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

}


#payment-errors
{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    background:white;
    width:400px;
    color:red;
    overflow:hidden;
    border:solid 1px #D1D0CE;
    padding-top:20px;
    padding-bottom:20px;
}

#payment_error_messages
{
    text-align:left;
    width:80%;
    margin-right:auto;
    margin-left:auto;
}

.form-container
{
    margin-top:0px;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;

}



.infoWrapper
{
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    width:300px; 
    margin-bottom:20px;
}

.payment-details-div
{
    margin-left:auto;
    margin-right:auto;
    width:400px;
    background:white;
    border:solid 1px #D1D0CE;
    overflow:hidden;
    display:inline-block;
    
}

.payment-title-div
{
    width:100%;

    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
    background:white;
    
}


.membership-details-div
{
    padding-top:20px;
    padding-bottom:20px;
    
}

.payment-details-div
{
    padding-bottom:10px;
    padding-top:10px;
}




h4.payment-title
{
    font-size:22px;
    font-weight:normal;
    color:#463E3F;
    text-align:left;
    margin-top:0px;
    margin-bottom:0px;
}


.membership-details-div
{
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width:400px;
    background:white;
    border:solid 1px #D1D0CE;
    overflow:hidden;
        display:inline-block;
    
}

.membership-title-div
{
    width:100%;

    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
    background:white;
    
}


h4.membership-title
{
    font-size:22px;
    font-weight:normal;
    color:#463E3F;
    text-align:left;
    margin-top:0px;
    margin-bottom:0px;
}


.terms-div
{
    
    overflow:hidden;
    margin-top:30px;
    
}


.submit_button_div
{
    margin-left:auto;
    margin-right: auto;
    width: 100%;
}

.title
{
    color: #463E3F;
    font-weight:normal;
    font-size:35px;
    margin-bottom:30px;
}

.sub_title
{
    font-size:22px;
    font-weight:normal;
}

.text
{
    font-size:18px;
    margin:20px;
    line-height:120%;
}

p.terms-text
{
 display:inline;   
 font-size:15px;
}


table
{
    border: none;
    display:inline-block;
    margin-bottom:20px;
    padding:0px;
    border-spacing:0;
    border-collapse: collapse;
    border-spacing:0px;
}

th, td, tr {
    padding: 0;
    border:none;
}


p.label
{
    font-size:18px;
    text-align:left;
    margin-top:20px;
    margin-bottom:5px;
}

.cvc-div
{
    float:left;
}

.exp-div
{
    float:right;
}


input[type="text"]
{
    display: inline-block;
    font-size:18px;
    line-height: 35px;
    height:35px;
    font-weight:200;
}

input.payment_field
{
    color:#808080;
    margin:0px;
    font-style:italic;
}

input#name
{
    width:300px;
}

input#cardnumber
{
    width:300px;
}

input#cvc
{
    margin-left:0px;
}

input#expMonth
{
    width:45px;
}
input#expYear
{
    width:60px;
}


input#promoCode
{
    width:300px;
}


#submitButton
{
    height:50px;
    width:300px;
    border-radius:3px;
    margin-right:auto;
    margin-left:auto;
    margin-top:20px;
    margin-bottom:20px;
	padding:	10px 20px !important;
	font-size:	20px !important;
	color: white;
	border:none;
    background: rgb(28, 184, 65);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


#submitButton:hover
{
    background:  rgb(13, 170, 50);
    cursor:pointer;
}



.terms-checkbox
{
    float:left;
}


.error_header
{
    margin-top:10px;
    margin-bottom:10px;
}
.error_message
{
    margin-top:10px;
    margin-bottom:10px;   
}



