


.base-container-userform
{
width: 700px;
margin-left:auto;
margin-right:auto;
background-color: white;
padding-top: 10px;
background: rgba(255, 255, 255, 0.95);
overflow-y:center;
line-height:100%;    
margin-top:0px;
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

}

ul
{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
}

.form-container
{

    margin-top:40px;
    overflow:hidden;
    width:100%;
    margin-left:auto;
    margin-right:auto;

}

.form-table
{
    margin-left:auto;
    margin-right:auto; 
}



.form-outer-field
{
    overflow:hidden;
    text-align:center;
    width:510px;
}

.form-outer-field-new
{
    overflow:hidden;
    text-align:center;
     width:240px;
     margin-right:10px;
}



.form-split-field-container
{
    width:250px;
    margin-top:25px;
    
}

.form-split-center
{
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    margin-left:10px;
}

.form-label
{
    margin-top:20px;
    margin-bottom:0px;
    text-align:left;
    margin-left:1px;

}

.form-sub-label
{

    text-align:left;
    width:80px;
}



.form-contact-label
{
    width:200px;
    text-align:left;
    margin-bottom:0px;
    margin-top:5px;
}

.form-link-label
{
    width:200px;
    text-align:left;
    margin-bottom:0px;
    margin-top:5px;
}

.form-file-label
{
    width:200px;
    text-align:left;
    margin-bottom:0px;
    margin-top:5px;
}


.errorlist
{
    color:red;
}

table
{
    margin-left:-3px;
    margin-right:-3px;
}




input[type="text"]
{
    font-size:16px;
    height:30px;
    width:500px;
    margin-bottom:0px;
    margin-left:auto;
    margin-right:auto;
}


select
{
    font-size:20px;
    float:left;
    
}



input[type="file"]
{
    margin-top:10px;
    font-size:16px;
    height:30px;
    width:200px;
}



textarea
{
    font-size:16px;
    width:500px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.link-container
{
    margin-bottom:20px;
    
}

.file-container
{
      margin-bottom:20px;
}


.form_button_container
{
    width:100%;
    margin-bottom:70px;
    margin-left:auto;
    margin-right:auto;
    
}



table.form_button_table
{
    margin-left:-3px;
    margin-right:-3px;
    margin-bottom:-3px;
}

.form_button_div
{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:-2px;
    display:inline-block;
    
}


img
{
    height:165px;
    margin-bottom:20px;
    
}

.image_div {
    display:inline-block;
    position: relative;
    background-repeat: no-repeat;
    border: solid 1px rgb(215, 215, 215);
}

.footerBar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: none;
    display: block;
}



#edit{
  padding: 0;
  list-style: none;
  overflow:visible;
}


#edit li {
  display: block;
  background: white;
  position: relative;
  z-index: 500;
  margin: 0px 0px;
  padding-right:0px;
  padding-left:0px;
}


#edit li a {
  display: block;
  font-family: "HelveticaNeue", "Helvetica Neue light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  line-height:20px;
  height: 20px;
  width:40px;
  text-decoration: none;
  color: #808080;
  text-align: center;
  font-size:15px;
  width: 100%;
 
}



#edit li:hover {
    
    background:#F0F0F0;
}


#edit ul {
  display: none;
  margin: 0 0 0 0;
  list-style: none;
}


#edit ul li {
  width: 100%;
  float: left;
  padding:0px;

  }


#edit ul a {
  display: block;
  color: #808080;
  text-align: center;
  height:25px;
  line-height:25px;
  font-size:15px;
}




td
{
    vertical-align:top;
}

tr:empty
{
  display: none;
}

td:empty
{
  display: none;
}

.add_ref
{
    display:block;
    overflow:hidden;
    height:50px;
    width: 122px;
    margin-right:3px;
    margin-left:3px;
    border-radius:3px;
    background:#0077E0;
    font-size: 16px;
    color:white;
    float:left;
    text-align:center;
      line-height:50px;
}

.add_ref:hover {
    background:  rgb(0,100,200);
    cursor:pointer;
}

.submit_button_div
{
    margin-left:auto;
    margin-right: auto;
    width: 100%;
}

input[type="submit"]
{
    height:50px;
    width:252px;
    border-radius:3px;
    margin-right:auto;
    margin-left:auto;
    margin-top:20px;
    margin-bottom: 0px;
	padding:	10px 20px !important;
	font-size:	20px !important;
	color: white;
	border:none;
    background: rgb(28, 184, 65);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


input[type="submit"]:hover
{
    background:  rgb(13, 170, 50);
    cursor:pointer;
}