
<div class="navbar">
	<div class="logo">
		<a href="/"><p id="logo">BlueList</p></a>
	</div>
	
	
	<div class="menu-buttons">
	    <div class= "menu-div-nav" > 
        <ul id="nav">  
            <li id="about_li">
                <a id="about" href="#">About</a>
            </li>
            <li id="signin_li">
                <a id="signin" href="#">Login</a>
            </li>
            <li id="signup_li">
                <a id="signup" href="#">SignUp</a>
            </li>
            <li id="account_li"> 
                <a id="account" href="#">Account &#x25BE</a>
                        <ul>
                             <li><a href="/userform">Edit Profile</a></li>
                             <li class="last"><a href="/signout">Signout</a></li>
                        </ul>
                    </li>
                </ul>
           </div>
	</div>
</div>