
<div class="navbar">
	<div class="logo">
		<a href="/"><p id="logo">BlueList</p></a>
	</div>
	
	
	<div class="menu-buttons">
	    <div class= "menu-div-nav" > 
        <ul id="nav">  
            <li id="about_li">
                <a id="about" href="/about">About</a>
            </li>

            <li id="signin_li">
                <a id="signin" href="#">Login</a>
            </li>


            <li id="signup_li">
                <a id="signup" href="#">Sign Up</a>
            </li>

            	<li id="account_li"> 
                	<a id="account" href="#">Account &#x25BE</a>
                        <ul>
                             <li><a id="prof_btn" href="/userform"></a></li>
							 <li><a id="subs_btn" href="/editaccount">Edit Account</a></li>
                             <li class="last"><a id="signout_btn" href="/signout">Sign Out</a></li>
                        </ul>
                 </li>

			</ul>

           </div>

	</div>
</div>