<!DOCTYPE html>
<html>
<head>

<meta name="google-site-verification" content="LVok7-UTONO9Vsy2T-m_kOcC78nW59nbwoyZWf0CJfk" />

<title> BlueList </title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45738608-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



<script type="text/javascript"> 
	var states = {{statelist|safe}};
	var cities = {{citylist|safe}};
	var categories = {{catlist|safe}};
	var skills = {{skilllist|safe}};
	var signed_in = "{{user|safe}}";
	var registered = "{{registered|safe}}";
	var more_profs= "{{more_profs|safe}}";
</script>


{% load staticfiles %}

<script type="text/javascript" src="{% static "jquery.js" %}" > </script>
<script type="text/javascript" src="{% static "jquery.lightbox_me.js" %}" > </script>
<script type="text/javascript" src="{% static "home.js" %}" > </script>
<script type="text/javascript" src="{% static "fillOptions.js" %}" > </script>
<script type="text/javascript" src="{% static "results.js" %}" > </script>
<script type="text/javascript" src="{% static "validation.js" %}" > </script>
<script type="text/javascript" src="{% static "authentication.js" %}" > </script>
<script type="text/javascript" src="{% static "home_helpers.js" %}" > </script>
<script type="text/javascript" src="{% static "header.js" %}" > </script>
<script type="text/javascript" src="{% static "mustache.js" %}" > </script>
<script type="text/javascript" src="{% static "html2canvas.js" %}" > </script>

<link rel="stylesheet" type="text/css" href="{% static "header.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "body.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "home.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "menu.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "results.css" %}">

</head>
<body>

	
<div class= "body-container">


	{% include 'header.html' %}

<div class="greeting-container">
	<p class="greeting">Discover and hire the best local professionals</p>
</div>

<div class="menu-container">
			<ul id="menu" >
				<li id="state_li" class="menu_cat">
					<a id="state_button" href="#"> States</a> 
							<div class="subcat">
								<ul id="state">

								</ul>
							</div>
				</li>
				<li id="city_li" class="menu_cat">
					<a id="city_button" href="#">Cities</a>
						<div class="subcat">
							<ul id="city">
					
							</ul>
						</div>
				</li>
				<li id="category_li" class="menu_cat">
					<a id="category_button" href="#">Service Categories</a>
					<div class="subcat">
						<ul id="category">
						</ul>
					</div>
				</li>
				<li id="skill_li" class="menu_cat">
					<a id="skills_button" href="#"> Services </a>
					<div class="subcat">
						<ul id="skills">
						</ul>
					</div>
				</li>
			</ul>
	

	
</div>


<div class="base-container-menu" id="options">
	
	<h4 id="num_profs" class="Results"> {{num_profs}} Results</h4>	

	<div class="results-container">
		
			<div class="results" id="searchResults">

				{% include 'profile_list.html' %}
				
			</div>
			
			<a id="more_profs" href="#">More</a>
	</div>
	
</div>

</div>



</body>
</html>