 <html>
<head>
    <title>Bluelist</title>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-45738608-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	
	<script type="text/javascript"> 
		var signed_in = "{{user|safe}}";
		var registered = "{{registered|safe}}";
	</script>

	
	{% load staticfiles %}

	<script type="text/javascript" src="{% static "jquery.js" %}" > </script>
	<script type="text/javascript" src="{% static "registration.js" %}" > </script>	
		<script type="text/javascript" src="{% static "header.js" %}" > </script>	
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	
	
	<script type="text/javascript">
	  // This identifies your website in the createToken call below
	  Stripe.setPublishableKey('{{stripe_pub_key|safe}}');
	  // ...
	</script>
	<link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "body.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "registration.css" %}">
	
</head>
<body>

	
 
<div class= "body-container">
<div class="body-scroll">

<div class="base-container-registration">
<div class="form-container">
	
	
	{% if last4 %}
	<h3 class="title"> Update Payment Information </h3>
	{% else %}
	<h3 class="title"> Bluelist Membership</h3>
	<h3 class="sub_title">$5/month</h3>
	{% endif %}
	  
	<div hidden id="payment-errors">
		<h4 class="error_header">Please correct the following errors</h4>
		<div id="payment_error_messages"></div>

	  </div>
	
	<form action="" method="POST" id="payment-form">

	
	<div  class="form-info-container">

	<div class="payment-details-div">
	<div class="payment-title-div">
	<h4 class="payment-title">Payment Details</h4>
	</div>
		<div class ="infoWrapper">
		
		<p class="label">Name</p>
		<input class="name_field" type="text" id="name" autocomplete="off"/>
		<p class="label">Card Number</p>
			{% if last4 %}
			<input class="payment_field" type="text" size="20" id="cardNumber" autocomplete="off" value="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;{{last4}}"/>
			{% else %}	
			<input class="payment_field" type="text" size="20" id="cardNumber" autocomplete="off"/>
			{% endif %}
			<div class="cvc-div">
			<p class="label cvc">CVC</p>
			<input class="payment_field" type="text" size="4" id="cvc" autocomplete="off" />
			</div>
			
			<div class="exp-div">
			<p class="label exp">Expiration</p>
			<input class="payment_field" type="text" size="2" id="expMonth" autocomplete="off"  value="MM"/><span> / </span><input class="payment_field" type="text" size="4" id="expYear" autocomplete="off"   value="YYYY"/>
			</div>
			
		</div>	
	</div>		
			
			{% if last4 %}
				
			{% else %}
			

			<div class="membership-details-div">

			<div class="infoWrapper">
			<p class="label">Promotional Code</p></td></tr>
			<input class="payment_field" type="text" size="20" id="promoCode" name="promo_code" autocomplete="off" value="Optional"/>
			<div class="terms-div">
			<input class="terms-checkbox" type="checkbox" id='terms' name="terms" />
					<p class="terms-text" >I have read and agree to the User Agreement described <a href="/termsandconditions"> Here</a> </p>
			</div>
			</div>
		
			</div>
			</div>
		
			
			{% endif %}

		{% if last4 %}
		<div class="submit_button_div">
	  		<button id="submitButton" type="submit"> Update Membership </button>
		</div>
		{% else %}
		<div class="submit_button_div">
	  		<button id="submitButton" type="submit"> Start Membership </button>
		</div>
		{% endif %}
		
		
		</div>
	</form>
	
		</div>
</div>
</div>
</div>
</div>


{% include 'header.html' %}

</body>
</html>