<!DOCTYPE html>
<html>
<head>
	
<script type="text/javascript" src="http://malsup.github.io/jquery.form.js"> </script>
<script>


$(document).ready(function() {


$('#X-Progress-ID').val(makeid());

var options = {
	type"'xml"
  url: '/upload?X-Progress-ID='+$('#X-Progress-ID').val(),
  beforeSubmit: showRequest,
  success: showResponse
}

$('#form_upload').ajaxForm(options);



function showRequest(formData, jqForm, options) {
    // do something with formData
    return True;
}
function showResponse(response) {
    alert(response)
}

function startProgressBarUpdate(upload_id) {
  $("#uploadprogressbar").fadeIn();
  if(g_progress_intv != 0)
    clearInterval(g_progress_intv);
  g_progress_intv = setInterval(function() {
    $.getJSON("/get_upload_progress?X-Progress-ID="
+ upload_id, function(data) {
      if (data == null) {
        $("#uploadprogressbar").progressBar(100);
        clearInterval(g_progress_intv);
        g_progress_intv = 0;
        return;
      }
      var percentage = Math.floor(100 * parseInt(data.uploaded) / parseInt(data.length));
      $("#uploadprogressbar").progressBar(percentage);
    });
  }, 5000);
}



});



function makeid()
{
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 5; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));

    return text;
}


</script>
</head>
<body>

	 <form id="form_upload" action="/upload" method="POST" enctype="multipart/form-data">
	  <input type="file" name="picture" id="picture" />
	  <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
	  <input type="hidden" id="id" name="id" value="asdlkjf"/>
	  <input id="form_submit_button" class="tp-button" type="submit" value="Submit" />
	  </form>

</body>
</html>