<!DOCTYPE html>
<html>
<head>


{% load staticfiles %}	
<script type="text/javascript" src="{% static "jquery.js" %}" > </script>
<script>

$(document).ready(function() {
	
	document.getElementById('file').addEventListener('change', function(e) {
		var data = new FormData();
		sel_file=$('#file').get(0).files[0];
		data.append("file",sel_file);
		
		var xhr = new XMLHttpRequest();
		
		xhr.upload.onprogress = function(e) 
	        {
	            console.log('xhr progress: ' + (Math.floor(e.loaded/e.total*1000)/10) + '%');
	
			   $('#file_progress').attr('value', e.loaded);
		        $('#file_progress').attr('max', e.total);
	        };
		xhr.onload = function()
		      {
		            console.log('upload complete');
		       };
		
		    xhr.open('post', '/upload', true);
		    xhr.send(data);
				
		}, false);
});



</script>
</head>
<body>

	 <form id="form_upload" action="/upload" method="POST" enctype="multipart/form-data">
	  <input type="file" name="file" id="file" />
	  <input id="form_submit_button" class="tp-button" type="submit" value="Submit" />
	  </form>
	
	
	<p><progress value="0" max="0" id="file_progress"></progress> File progress</p>


</body>
</html>