 <html>
<head>
    <title>User Info</title>


	{% load staticfiles %}
	
	<script type="text/javascript" src="{% static "jquery.js" %}" > </script>
	<script type="text/javascript" src="{% static "userform.js" %}" > </script>
	<script type="text/javascript" src="{% static "authentication.js" %}" > </script>
	
	
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "body.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "userform.css" %}">


	<script type="text/javascript"> 
		var states = {{statelist|safe}};
		var cities = {{citylist|safe}};
		var categories = {{catlist|safe}};
		var skills = {{skilllist|safe}};
		var signed_in = {{auth|safe}};
		
	</script>

</head>
<body>
	
	
 
<div class= "body-container">
<div class="body-scroll">

<div class="base-container-userform">

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

	<form action="" method="post" enctype="multipart/form-data">
		{{ form.non_field_errors }}
		
	<div class="form-container">
		<table class="form-table">	
		<tr><td><h4 class="form-label"> Name </h4></td></tr>
		<tr><td>{{form.name.errors}}</td></tr>
		<tr><td><div class="form-outer-field"><div class="form-field-container">{{form.name}}</div></div></td></tr>

			
		<tr><td> <h4 class="form-label"> Profile Picture </h4></td><tr>
		<tr><td>{{form.prof_pic.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field">
				<div class="form-field-container">
					{{prof_pic|safe }}
					
					{% if pic_url != "none" %}
						<a target="_blank" href="{{ pic_url|safe }}">
                        <img src="{{ pic_url|safe }}" /></a>
                        <div class="form-field-container">
                        Upload a new profile picture: <input id="id_prof_pic" name="prof_pic" type="file" />
						
						
					{% else %}
						<div class="form-field-container">
	                        Upload a profile picture: <input id="id_prof_pic" name="prof_pic" type="file" />
	                    </div>
					{% endif %}
					
					
					
				</div>
			</div>
		</td></tr>
		
		
		<tr><td> <h4 class="form-label"> Location </h4> </td></tr>
			<tr><td>
			<div class="form-outer-field"><div class="form-field-container">
				<table>	
					<tr><td><p class="form-sub-label">State:<p></td>
						<td>{{form.state}} </td><td>{{form.state.errors}}</td></tr>
					<tr><td><p class="form-sub-label">City:<p></td>
						<td>{{form.city}} </td><td> {{form.city.errors}}</td></tr>
				</table>
			</div></div>
		</td></tr>
			
		<tr><td> <h4 class="form-label"> Profession </h4> </td></tr>
			<tr><td>
			<div class="form-outer-field"><div class="form-field-container">
			<table>	
				<tr><td><p class="form-sub-label">Category: <p></td>
					<td>{{form.skillcategory}}</td><td>{{form.skillcategory.errors}}</td></tr>
				<tr><td><p class="form-sub-label">Specialty: <p> </td>
					<td>{{form.skill}}</td><td>{{form.skill.errors}}</td></tr>
			</table>
			</div></div>
		</td></tr>

		<tr><td><h4 class="form-label"> Listing Description </h4></td></tr>
		<tr><td>{{form.shortdesc.errors}}</td></tr>
		<tr><td><div class="form-outer-field"><div class="form-field-container">{{form.shortdesc}}</div></div></td></tr>
		


		<tr><td>
			<div id="additional_info">
				<h4 id="add_info_label" class="form-label"> Additional Information </h4>
				{{form.longdesc.errors}}
				<div class="form-outer-field"><div class="form-field-container">{{form.longdesc}}</div></div>
			</div>
		</td></tr>


		<tr><td>
		
			<div id="contact" class="contact-container">
			<h4 id="contact_label" class="form-label"> Contact Information </h4>
		
			<table>
				<tr><td>{{form.public_email.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
						<table>	
							<tr><td><p class="form-contact-label">Contact Email Address:<p></td></tr>
							<tr><td>{{form.public_email}}</td></tr>
						</table>
					</div></div>
				</tr></td>
			
				<tr><td>{{form.public_phone_num.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
						<table>		
							<tr><td><p class="form-contact-label">Contact Phone Number:<p></td></tr>
							<tr><td>{{form.public_phone_num}}</td></tr>
						</table>
					</div></div>
				</table>
	
				</div>
		
	</td></tr>
		
		
		
	<tr><td><h4 id="links_label" class="form-label"> Profile Links </h4></td></tr>	
		
	<tr><td>

		<div id="link1" class="link-container">
		
		<table class="form-table">
			<tr><td>{{form.link1.errors}}</td></tr>
			<tr><td>
				<div class="form-outer-field"><div class="form-field-container">	
				<table>
				<tr><td><p class="form-link-label">Link URL:<p></td></tr>
				<tr><td>{{form.link1}}</td></tr>
				</table>
				</div></div>
			</tr></td>
		<tr><td>{{form.link1_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-link-label">Link Title:<p></td></td>
					<tr><td>{{form.link1_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		<tr><td>{{form.link1_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-link-label">Link Description:<p></td></tr>
			<tr><td>{{form.link1_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		
		<div id="link2" class="link-container">
		
			<table class="form-table">
		
				<tr><td>{{form.link2.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td><p class="form-link-label">Link URL:<p></td></tr>
					<tr><td>{{form.link2}}</td></tr>
					</table>
					</div></div>
				</tr></td>		
			
		<tr><td>{{form.link2_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-link-label">Link Title:<p></td></td>
					<tr><td>{{form.link2_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		<tr><td>{{form.link2_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-link-label">Link Description:<p></td></tr>
			<tr><td>{{form.link2_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		
		<div id="link3" class="link-container">
		
			<table class="form-table">
			
				<tr><td>{{form.link3.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td><p class="form-link-label">Link URL:<p></td></tr>
					<tr><td>{{form.link3}}</td></tr>
					</table>
					</div></div>
				</tr></td>			
			
		<tr><td>{{form.link3_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-link-label">Link Title:<p></td></td>
					<tr><td>{{form.link3_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>
		
		<tr><td>{{form.link3_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-link-label">Link Description:<p></td></tr>
			<tr><td>{{form.link3_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		<div id="link4" class="link-container">
		
			<table class="form-table">
		
				<tr><td>{{form.link4.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td><p class="form-link-label">Link URL:<p></td></tr>
					<tr><td>{{form.link4}}</td></tr>
					</table>
					</div></div>
				</tr></td>		
			
		<tr><td>{{form.link4_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-link-label">Link Title:<p></td></td>
					<tr><td>{{form.link4_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		<tr><td>{{form.link4_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-link-label">Link Description:<p></td></tr>
			<tr><td>{{form.link4_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		<div id="link5" class="link-container">
		
			<table class="form-table">
				<tr><td>{{form.link5.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td><p class="form-link-label">Link URL:<p></td></tr>
					<tr><td>{{form.link5}}</td></tr>
					</table>
					</div></div>
				</tr></td>		
			
		<tr><td>{{form.link5_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-link-label">Link Title:<p></td></td>
					<tr><td>{{form.link5_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>
		
		<tr><td>{{form.link5_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-link-label">Link Description:<p></td></tr>
			<tr><td>{{form.link5_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		<div id="link6" class="link-container">
		
			<table class="form-table">
		
				<tr><td>{{form.link6.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td><p class="form-link-label">Link URL:<p></td></tr>
					<tr><td>{{form.link6}}</td></tr>
					</table>
					</div></div>
				</tr></td>		
			
		<tr><td>{{form.link6_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-link-label">Link Title:<p></td></td>
					<tr><td>{{form.link6_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>
		
		<tr><td>{{form.link6_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-link-label">Link Description:<p></td></tr>
			<tr><td>{{form.link6_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		
		<div id="link7" class="link-container">
		
			<table class="form-table">
				<tr><td>{{form.link7.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td><p class="form-link-label">Link URL:<p></td></tr>
					<tr><td>{{form.link7}}</td></tr>
					</table>
					</div></div>
				</tr></td>			
		<tr><td>{{form.link7_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-link-label">Link Title:<p></td></td>
					<tr><td>{{form.link7_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		<tr><td>{{form.link7_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-link-label">Link Description:<p></td></tr>
			<tr><td>{{form.link7_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		
		
		<div id="link8" class="link-container">
		
			<table class="form-table">
				<tr><td>{{form.link8.errors}}</td></tr>	
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td><p class="form-link-label">Link URL:<p></td></tr>
					<tr><td>{{form.link8}}</td></tr>
					</table>
					</div></div>
				</tr></td>
							
		<tr><td>{{form.link8_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-link-label">Link Title:<p></td></td>
					<tr><td>{{form.link8_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		
		<tr><td>{{form.link8_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-link-label">Link Description:<p></td></tr>
			<tr><td>{{form.link8_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
	
	
	
	
	
		
		</td></tr>
	
		<tr><td><h4 id="uploads_label" class="form-label"> Uploaded Files </h4></td></tr>
		
		<tr><td>	
		
		
		
		<div id="file1" class="file-container">
		
		<table class="form-table">
			<tr><td>{{form.file1.errors}}</td></tr>
			<tr><td>
				<div class="form-outer-field"><div class="form-field-container">	
				<table>
				<tr><td>{{form.file1}}</td></tr>
				</table>
				</div></div>
			</tr></td>
		<tr><td>{{form.file1_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-file-label">File Title:<p></td></td>
					<tr><td>{{form.file1_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		<tr><td>{{form.file1_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-file-label">File Description:<p></td></tr>
			<tr><td>{{form.file1_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		
		<div id="file2" class="file-container">
		
			<table class="form-table">
		
				<tr><td>{{form.file2.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td>{{form.file2}}</td></tr>
					</table>
					</div></div>
				</tr></td>		
			
		<tr><td>{{form.file2_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-file-label">File Title:<p></td></td>
					<tr><td>{{form.file2_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		<tr><td>{{form.file2_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-file-label">File Description:<p></td></tr>
			<tr><td>{{form.file2_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		
		<div id="file3" class="file-container">
		
			<table class="form-table">
			
				<tr><td>{{form.file3.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td>{{form.file3}}</td></tr>
					</table>
					</div></div>
				</tr></td>			
			
		<tr><td>{{form.file3_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-file-label">File Title:<p></td></td>
					<tr><td>{{form.file3_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>
		
		<tr><td>{{form.file3_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-file-label">File Description:<p></td></tr>
			<tr><td>{{form.file3_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		<div id="file4" class="file-container">
		
			<table class="form-table">
		
				<tr><td>{{form.file4.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td>{{form.file4}}</td></tr>
					</table>
					</div></div>
				</tr></td>		
			
		<tr><td>{{form.file4_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-file-label">File Title:<p></td></td>
					<tr><td>{{form.file4_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		<tr><td>{{form.file4_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-file-label">File Description:<p></td></tr>
			<tr><td>{{form.file4_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		<div id="file5" class="file-container">
		
			<table class="form-table">
				<tr><td>{{form.file5.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td>{{form.file5}}</td></tr>
					</table>
					</div></div>
				</tr></td>		
			
		<tr><td>{{form.file5_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-file-label">File Title:<p></td></td>
					<tr><td>{{form.file5_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>
		
		<tr><td>{{form.file5_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-file-label">File Description:<p></td></tr>
			<tr><td>{{form.file5_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		<div id="file6" class="file-container">
		
			<table class="form-table">
		
				<tr><td>{{form.file6.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td>{{form.file6}}</td></tr>
					</table>
					</div></div>
				</tr></td>		
			
		<tr><td>{{form.file6_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-file-label">File Title:<p></td></td>
					<tr><td>{{form.file6_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>
		
		<tr><td>{{form.file6_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-file-label">File Description:<p></td></tr>
			<tr><td>{{form.file6_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		
		
		
		<div id="file7" class="file-container">
		
			<table class="form-table">
				<tr><td>{{form.file7.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td>{{form.file7}}</td></tr>
					</table>
					</div></div>
				</tr></td>			
		<tr><td>{{form.file7_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-file-label">File Title:<p></td></td>
					<tr><td>{{form.file7_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		<tr><td>{{form.file7_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-file-label">File Description:<p></td></tr>
			<tr><td>{{form.file7_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		
		<div id="file8" class="file-container">
		
			<table class="form-table">
				<tr><td>{{form.file8.errors}}</td></tr>	
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
					<table>
					<tr><td>{{form.file8}}</td></tr>
					</table>
					</div></div>
				</tr></td>
							
		<tr><td>{{form.file8_title.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-file-label">File Title:<p></td></td>
					<tr><td>{{form.file8_title}}</td></tr>
				</table>
			</div></div>
		</tr></td>

		
		<tr><td>{{form.file8_desc.errors}}</td></tr>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-file-label">File Description:<p></td></tr>
			<tr><td>{{form.file8_desc}}</td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		
		</div>
		
		</td></tr>
		
		<tr><td>	
			<table>
				<tr><td>
					<div class="table-button-spacer">
					<div class="add_ref" id="add_contact" >

						<p class="add_ref_text"> Add Contact Info </p>
					</div>
					</div>
		
				</td>
				<td>
					<div class="table-button-spacer">
						<div class="add_ref" id="add_info" >
							<p class="add_ref_text"> Add Text </p>
						</div>
					</div>
				</td></tr>
				<tr><td>
					<div class="tab;e-button-spacer">
						<div class="add_ref" id="add_link" >
							<p class="add_ref_text"> Add a Link </p>
						</div>
				</div>
				</td>
				<td>
					<div class="table-button-spacer">
						<div class="add_ref" id="add_file" >

							<p class="add_ref_text"> Upload a File </p>
						</div>
					</div>
				</td></tr>
			</table>
		</tr></td>
		
		
		</table>
		

			<div class="form-button-spacer">
	        <input type="submit" value="Submit">
			</div>
	
	</form>

</div>
</div>
</div>

</div>


{% include 'header.html' %}


</body>
</html>