<html>
<head>
    <title>User Info</title>


	{% load staticfiles %}
	
	<script type="text/javascript" src="{% static "jquery.js" %}" > </script>
	<script type="text/javascript" src="{% static "userform.js" %}" > </script>
	<script type="text/javascript" src="{% static "authentication.js" %}" > </script>
	
	
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "body.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "userform.css" %}">


	<script type="text/javascript"> 
		var states = {{statelist|safe}};
		var cities = {{citylist|safe}};
		var categories = {{catlist|safe}};
		var skills = {{skilllist|safe}};
		var signed_in = {{auth|safe}};
		
	</script>

</head>
<body>
	
	{% include 'header.html' %}
	
 
<div class= "body-container">

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

	<form action="" method="post" enctype="multipart/form-data">
		{{ form.non_field_errors }}
		
	<div class="form-container">	
		
	
	<table>
		<tr><td> <h5> Name </h5> </td>
			<td>{{form.name}}	</td>
			<td>{{form.name.errors}}</td></tr>
			
		<tr><td> <h5> Profile Picture </h5></td>
			<td>{{form.prof_pic}}</td>
			<td>{{form.prof_pic.errors}}</td></tr>
		
		<tr><td> <h5> Location <h5> </td>
			<td><table>
			<tr><td>State:</td><td>{{form.state}}</td></tr>
			<tr><td>City:</td><td>{{form.city}}</td></tr>
			</table>
				</td>
			<td>{{form.state.errors}} {{form.city.errors}}</td></tr>
	
		<tr><td> <h5> Profession </h5></td>
			<td><table>
				<tr><td>Category: </td><td>{{form.skillcategory}}</td></tr>
				<tr><td>Skill: </td><td>{{form.skill}}</td></tr>
				</table>
			</td>
			<td>{{form.skillcategory.errors}}{{form.skill.errors}}</td></tr>	
	
	</table>
			  
					{{form.shortdesc.errors}}
				<label for="id_shortdesc"> Listing Description: </label>
					{{form.shortdesc}}
			   </div>
			   <div class="fieldWrapper">
					{{form.longdesc.errors}}
				<label for="id_longdesc"> Additional Profile Information: </label>
					{{form.longdesc}}
			   </div>

			<h4> Contact Information </h4>
			
				<div class="fieldWrapper">
					{{form.public_email.errors}}
				<label for="id_shortdesc"> Contact Email Address </label>
					{{form.public_email}}
			   </div>
			   <div class="fieldWrapper">
					{{form.public_phone_num.errors}}
				<label for="id_longdesc"> Contact Phone Number </label>
					{{form.public_phone_num}}
			   </div>
			
			
			
			<h4> Links to websites or samples of work (youtube, vimeo, soundcloud etc.)</h4>
			
			
			<div id="link1" class="link-container">
				
				<div class="fieldWrapper">
					{{form.link1_title.errors}}
				<label for="id_link1_title"> Link Title: </label>
					{{form.link1_title}}
			   </div>
				<div class="fieldWrapper">
					{{form.link1.errors}}
				<label for="id_link1"> URL Link: </label>
					{{form.link1}}
			   </div>
				<div class="fieldWrapper">
					{{form.link1_desc.errors}}
				<label for="id_link1_desc"> Link Description: </label>
					{{form.link1_desc}}
			   </div>
			</div>
			
			<div id="link2" class="link-container">
				<div class="fieldWrapper">
					{{form.link2_title.errors}}
				<label for="id_link2_title"> Link Title: </label>
					{{form.link2_title}}
			   </div>
				<div class="fieldWrapper">
					{{form.link2.errors}}
				<label for="id_link2"> URL Link: </label>
					{{form.link2}}
			   </div>

				<div class="fieldWrapper">
					{{form.link2_desc.errors}}
				<label for="id_link2_desc"> Link Description: </label>
					{{form.link2_desc}}
			   </div>
			
			</div>
			
			<div id="link3" class="link-container">
				<div class="fieldWrapper">
					{{form.link3_title.errors}}
				<label for="id_link3_title"> Link Title: </label>
					{{form.link3_title}}
			   </div>
				<div class="fieldWrapper">
					{{form.link3.errors}}
				<label for="id_link3"> URL Link: </label>
					{{form.link3}}
			   </div>

				<div class="fieldWrapper">
					{{form.link3_desc.errors}}
				<label for="id_link3_desc"> Link Description: </label>
					{{form.link3_desc}}
			   </div>
			
			</div>
			
			<div id="link4" class="link-container">
				<div class="fieldWrapper">
					{{form.link4_title.errors}}
				<label for="id_link4_title"> Link Title: </label>
					{{form.link4_title}}
			   </div>
				<div class="fieldWrapper">
					{{form.link4.errors}}
				<label for="id_link4"> URL Link: </label>
					{{form.link4}}
			   </div>

				<div class="fieldWrapper">
					{{form.link4_desc.errors}}
				<label for="id_link4_desc"> Link Description: </label>
					{{form.link4_desc}}
			   </div>
			
			</div>
			
			<div id="link5" class="link-container">
				<div class="fieldWrapper">
					{{form.link5_title.errors}}
				<label for="id_link5_title"> Link Title: </label>
					{{form.link5_title}}
			   </div>
				<div class="fieldWrapper">
					{{form.link5.errors}}
				<label for="id_link5"> URL Link: </label>
					{{form.link5}}
			   </div>

				<div class="fieldWrapper">
					{{form.link5_desc.errors}}
				<label for="id_link5_desc"> Link Description: </label>
					{{form.link5_desc}}
			   </div>
			</div>
			
			
			<div id="link6" class="link-container">
				<div class="fieldWrapper">
					{{form.link6_title.errors}}
				<label for="id_link6_title"> Link Title: </label>
					{{form.link6_title}}
			   </div>
				<div class="fieldWrapper">
					{{form.link6.errors}}
				<label for="id_link6"> URL Link: </label>
					{{form.link6}}
			   </div>

				<div class="fieldWrapper">
					{{form.link6_desc.errors}}
				<label for="id_link6_desc"> Link Description: </label>
					{{form.link6_desc}}
			   </div>
			</div>
			
			
			<div id="link7" class="link-container">
				<div class="fieldWrapper">
					{{form.link7_title.errors}}
				<label for="id_link7_title"> Link Title: </label>
					{{form.link7_title}}
			   </div>
				<div class="fieldWrapper">
					{{form.link7.errors}}
				<label for="id_link7"> URL Link: </label>
					{{form.link7}}
			   </div>

				<div class="fieldWrapper">
					{{form.link7_desc.errors}}
				<label for="id_link7_desc"> Link Description: </label>
					{{form.link7_desc}}
			   </div>
			</div>
			
			
			<div id="link8" class="link-container">
				<div class="fieldWrapper">
					{{form.link8_title.errors}}
				<label for="id_link8_title"> Link Title: </label>
					{{form.link8_title}}
			   </div>
				<div class="fieldWrapper">
					{{form.link8.errors}}
				<label for="id_link8"> URL Link: </label>
					{{form.link8}}
			   </div>
				<div class="fieldWrapper">
					{{form.link8_desc.errors}}
				<label for="id_link8_desc"> Link Description: </label>
					{{form.link8_desc}}
			   </div>
			</div>
			
			
			<div id="add_link" >
			
				<p class="addlink"> Add Link </p>
				
			</div>
			
			
			

	        <input type="submit" value="Submit">
	</form>



	</div>









</div>

</body>
</html>