<!DOCTYPE html>
<html>
<head>

<title> BlueList </title>


	<script type="text/javascript"> 
		var states = {{statelist|safe}};
		var cities = {{citylist|safe}};
		var categories = {{catlist|safe}};
		var skills = {{skilllist|safe}};
		var signed_in = "{{user|safe}}";
		var registered = "{{registered|safe}}";
	</script>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "body.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "userform.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "header.css" %}">


	
	
	<script type="text/javascript" src="{% static "jquery.js" %}" > </script>
	<script type="text/javascript" src="{% static "userform.js" %}" > </script>
	<script type="text/javascript" src="{% static "authentication.js" %}" > </script>
	<script type="text/javascript" src="{% static "header.js" %}" > </script>
	




</head>
<body>
	

<div class= "body-container">
<div class="body-scroll">

<div class="base-container-userform">

    

	<form action="" method="post" enctype="multipart/form-data">
		{{ form.non_field_errors }}
		
	<div class="form-container">
		<table class="form-table">	

		<tr><td>	{% if form.errors %}
		        <p class="error-indicator">
		            Please correct the error{{ form.errors|pluralize }} below
		        </p>
		    {% endif %}
		</tr></td>


		<tr><td><div class="label-div"><h4 class="form-label"> Name </h4> <p class="sub-label">(Required)</p></div></td></tr>
		<tr><td>{{form.name.errors}}</td></tr>
		<tr><td><div class="form-outer-field"><div class="form-field-container">{{form.name}}</div></div></td></tr>
		<tr><td>
			<table>
				<tr><td>	
					<table>
						<tr><td> <h4 class="form-label"> Profile Picture </h4></td></tr>
						<tr><td>{{form.prof_pic.errors}}</td></tr>
						<tr><td>
							<div class="form-outer-field-new">
								<div class="form-field-container">					
									
									<div {% if pic_url == "" %} hidden {% endif %} id="prof_im_container1" class="form-field-container file_div">
									
										<div class="image_div">
											<a target="_blank" href="{{ pic_url|safe }}"><img id="img_prof_pic" src="{{ pic_url|safe }}" /></a>
											<div class="footerBar">
												<ul id="edit"> 
													<li id="edit_prof_pic_li">
														<a id="edit_prof_pic" href="#">Edit &#x25BE</a>
								                        <ul>
								                             <li><a id="prof_pic_delete" name="prof_pic" href="#">Delete </a></li>
								                             <li><a id="prof_pic_replace" href="#">Replace </a></li>
								                        </ul>
													</ul>
                        						</div>
											</div>
											
											<input hidden id="id_prof_pic" name="prof_pic" type="file" />
											
											
										</div>
										
										<div {% if pic_url != "" %} hidden {% endif %} id="prof_im_container2" class="form-field-container file_div">
	                        				<input id="id_prof_pic" name="prof_pic" type="file" />
	                    				</div>
								</div>
							</div>
						</td></tr>
					</table>
				</td><td>
					<table>
						<tr><td> <div class="label-div">
										<h4 class="form-label"> Location</h4>
										<p class="sub-label">(Required)</p>	
									</div>
						</td></tr>
						<tr><td>
							<div class="form-split-field-container">
								<table>	
									<tr><td>{{form.state.errors}}</td></tr>
									<tr><td><p class="form-sub-label">State</p></td>
										<td>{{form.state}} </td></tr>
									<tr><td><p class="form-sub-label">City</p></td>
										<td>{{form.city}} </td><td> {{form.city.errors}}</td></tr>
								</table>
							</div>
						</td></tr>
						
						<tr><td>
							<div class="label-div">
							<h4 class="form-label">Service Type</h4><p class="sub-label">(Required)</p>
							</div>
							</td></tr>
							<tr><td>
							<div class="form-split-field-container">
								<table>
									<tr><td><p class="form-sub-label">Category </p></td>
										<td>{{form.skillcategory}}</td><td>{{form.skillcategory.errors}}</td></tr>
									<tr><td><p class="form-sub-label">Specialty <p> </td>
										<td>{{form.skill}}</td><td>{{form.skill.errors}}</td></tr>
								</table>
							</div>
						</td></tr>
					</table>
				</td></tr>
			</table>
		</td></tr>
		
		<tr><td><div class="label-div"><h4 class="form-label"> Service </h4> <p class="sub-label"> (Required)</p></div></td></tr>
		<tr><td>{{form.service.errors}}</td></tr>
		<tr><td><div class="form-outer-field"><div class="form-field-container">{{form.service}}</div></div></td></tr>
		
		
		<tr><td><div class="label-div"><h4 class="form-label"> Listing Description </h4> <p class="sub-label">(Required)</p></div></td></tr>
		<tr><td>{{form.shortdesc.errors}}</td></tr>
		<tr><td><div class="form-outer-field"><div class="form-field-container">{{form.shortdesc}}</div></div></td></tr>

		<tr><td>
			<div id="additional_info">
				<h4 id="add_info_label" class="form-label"> Additional Information </h4>
				{{form.longdesc.errors}}
				<div class="form-outer-field"><div class="form-field-container">{{form.longdesc}}</div></div>
			</div>
		</td></tr>


		<tr><td>
			<div id="contact" class="contact-container">
			<h4 id="contact_label" class="form-label"> Contact Information </h4>
		
		
			<table>
				<tr><td>{{form.public_email.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
						<table>	
							<tr><td><p class="form-contact-label">Contact Email Address</p></td></tr>
							<tr><td>{{form.public_email}}</td></tr>
						</table>
					</div></div>
				</tr></td>
			
				<tr><td>{{form.public_phone_num.errors}}</td></tr>
				<tr><td>
					<div class="form-outer-field"><div class="form-field-container">	
						<table>		
							<tr><td><p class="form-contact-label">Contact Phone Number</p></td></tr>
							<tr><td>{{form.public_phone_num}}</td></tr>
						</table>
					</div></div>
			</table>
	
			</div>
		
	</td></tr>
		
		
		
		
	<tr><td><h4 id="links_label" class="form-label"> Profile Links </h4></td></tr>	
		
	<tr><td>
		
		{% for num in link_list %}
		<div id="link{{forloop.counter}}" class="link-container">
		
		<table class="form-table">
			<tr><td>
				<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-link-label">Link URL</p></td></tr>
					<tr><td>{{num.link_error}}</td></tr>
					<tr><td><input id="id_link{{forloop.counter}}" maxlength="200" name="link{{forloop.counter}}" type="text" value="{{ num.link }}"/></td></tr>
				</table>
				</div></div>
			</tr></td>
			<tr><td>
				<div class="form-outer-field"><div class="form-field-container">	
					<table>
						<tr><td><p class="form-link-label">Link Title</p></td></tr>
						<tr><td>{{num.link_title_error}}</td></tr>
						<tr><td><input id="id_link{{forloop.counter}}_title" maxlength="50" name="link{{forloop.counter}}_title" type="text" value="{{num.link_title}}" /></td></tr>
					</table>
				</div></div>
			</tr></td>
			<tr><td>
				<div class="form-outer-field"><div class="form-field-container">	
					<table>
						<tr><td><p class="form-link-label">Link Description</p></td></tr>
						<tr><td>{{num.link_desc_error}}</td></tr>
						<tr><td><textarea cols="40" id="id_link{{forloop.counter}}_desc" name="link{{forloop.counter}}_desc" rows="2">{{num.link_desc}}</textarea></td></tr>
					</table>
				</div></div>
			</tr></td>
		</table>
		</div>
		{% endfor %}
		
		
		</td></tr>
	
	
	
		<tr><td><h4 id="uploads_label" class="form-label"> Uploaded Files </h4></td></tr>
		
		<tr><td>	
		
		
		{% for num in file_list %}
		
		<div id="file{{forloop.counter}}" class="file-container">
		
		<table class="form-table">
			<tr><td></td></tr>
			<tr><td>
				<div class="form-outer-field"><div class="form-field-container">	
				<table>
				<tr><td>
					
					
						<div {% if not num.file %} hidden {% endif %} id="file{{forloop.counter}}_container1" class="file_container file_div">
							<input hidden id="id_file{{forloop.counter}}" name="file{{forloop.counter}}" type="file" />

							<ul class="file_upload_list">
								<li class="file_upload_li"><a class="file file-view" id="view_file{{forloop.counter}}" href="{{num.file}}">View Current File</a></li>
								<li class="file_upload_li"><a class="file file-replace" id="replace_file{{forloop.counter}}" href="#">Replace</a></li>
								<li class="file_upload_li"><a class="file file-delete" name="file{{forloop.counter}}" id="delete_file{{forloop.counter}}" href="#">Delete</a></li>
							</ul>
						</div>
						
						<div {% if num.file %} hidden {% endif %} id="file{{forloop.counter}}_container2" class="file_div">
							<input id="id_file{{forloop.counter}}" name="file{{forloop.counter}}" type="file" />
						</div>
					
					</td></tr>
				</table>
				</div></div>
			</tr></td>
		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
				<table>
					<tr><td><p class="form-file-label">File Title</p></td></tr>
					<tr><td>{{num.file_title_error}}</p></td></tr>
					<tr><td><input id="id_file{{forloop.counter}}_title" maxlength="50" name="file{{forloop.counter}}_title" type="text" value="{{num.file_title}}" /></td></tr>
				</table>
			</div></div>
		</tr></td>

		<tr><td>
			<div class="form-outer-field"><div class="form-field-container">	
			<table>
			<tr><td><p class="form-file-label">File Description</p></td></tr>
			<tr><td>{{num.file_desc_error}}</p></td></tr>
			<tr><td><textarea cols="40" id="id_file{{forloop.counter}}_desc" name="file{{forloop.counter}}_desc" rows="2">{{num.file_desc}}</textarea></td></tr>
			</table>
			</div></div>
		</tr></td>
		</table>
		</div>
	
		{% endfor %}
	
		
		</td></tr>
		
		</table>
		
		
		<div class='form_button_container'>
			<div class='form_button_div'>
					<div class="add_ref" id="add_contact" >

						<p class="add_ref_text"> Add Contact </p>
					</div>
						<div class="add_ref" id="add_info" >
							<p class="add_ref_text"> Add Text </p>
						</div>
						<div class="add_ref" id="add_link" >
							<p class="add_ref_text"> Add a Link </p>
						</div>
						<div class="add_ref" id="add_file" >

							<p class="add_ref_text"> Upload a File </p>
						</div>
			</div>
			
			<div class="submit_button_div">
	        	<input id="submitButton" type="submit" value="Submit">
			</div>
	
		</div>
		
	</form>

</div>
</div>
</div>

</div>

{% include 'header.html' %}


</body>
</html>